/* Основні стилі для сторінки */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    /* Задаємо фон для сторінки */
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Стили для хедера */
.header {
    background-color: #FFFFFF;
    /* Фон для хедера */
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo span {
    color: #f4f4fd;
}

.nav-list a {
    color: #434455;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-list a:hover,
.nav-list a:focus {
    color: #404bbf;
}

.contact a {
    color: #434455;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact a:hover,
.contact a:focus {
    color: #404bbf;
}

/* Стили для секції hero */
.hero {
    text-align: center;
    color: #FFFFFF;
    background-color: #2E2F42;
}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-btn {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

/* Стили для секції features */
.features {
    background-color: #F4F4FD;
    /* Фон для секції features */
}

.features h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Стили для секції team */
.team {
    background-color: #FFFFFF;
    /* Фон для секції team */
}

.team h2 {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Стили для секції portfolio */
.portfolio {
    background-color: #FFFFFF;
    /* Фон для секції portfolio */
}

.portfolio-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-item-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-item-category {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Стили для футера */
.footer {
    background-color: #2e2f42;
    padding: 20px;
    text-align: left;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo-web {
    color: #4d5ae5;
}

.logo-span {
    color: #f4f4fd;
}

.footer-text {
    color: var(--footer-text-color, #f4f4fd);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 10px;
}

/* Стили для тега address */
.header-address {
    font-style: normal;
}

/* Стили для ссылок в address */
.header-link {
    color: #2e2f42;
    text-decoration: none;
}